Traceback (most recent call last):
  File "main.py", line 2, in <module>
    from util import connect_to_db, disconnect_from_db, run_and_fetch_sql
  File "/home/tjrussell/Desktop/3700/HW/util.py", line 15
    cursor = connection.cursor()
                               ^
TabError: inconsistent use of tabs and spaces in indentation
